In [3]:
import plotly.express as px
import pandas as pd

In [4]:
# --------------------------------------- Analise inicial dos Dados --------------------------------------- #

tabela = pd.read_csv("cancelamentos.csv")  

# Funcao para mostrar quantidade de Cancelamentos em Porcentagem
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))


# --------------------------------------- Analise superficial dos Dados --------------------------------------- #

# Funcao para agrupar as colunas das tabelas e calcular a media
display(tabela.groupby("duracao_contrato").mean(numeric_only=True))   # Qual duracao de contrato Cancelou mais
display(tabela.groupby("assinatura").mean(numeric_only=True))         # Qual Assinatura Cancelou mais
display(tabela.groupby("sexo").mean(numeric_only=True))               # Qual Sexo Cancelou mais

# Removendo a Assinatura Monthly para analisar a porcentagem de Cancelamento
tabela = tabela[tabela["duracao_contrato"]!="Monthly"]   
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))

cancelou
1.0    56.7%
0.0    43.3%
Name: proportion, dtype: object

,CustomerID,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,,
Annual,248547.842605,38.842188,31.446213,15.880213,3.263395,12.465135,651.696325,14.236120,0.460761
Monthly,130596.685656,41.552222,30.538632,15.499216,4.985661,15.007135,550.616445,15.478018,1.000000
Quarterly,248939.764131,38.830896,31.419838,15.886642,3.265247,12.460891,651.426516,14.234515,0.460256

,CustomerID,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
assinatura,,,,,,,,,
Basic,222605.853901,39.458756,31.935347,15.808678,3.652196,13.026310,628.673496,14.488492,0.581782
Premium,226843.333404,39.323066,30.883381,15.809308,3.577675,12.916823,632.927963,14.475581,0.559414
Standard,226639.180718,39.341067,30.976879,15.804587,3.585315,12.956390,633.133692,14.478852,0.560698

,CustomerID,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
sexo,,,,,,,,,
Female,203590.858857,39.821114,31.098523,15.729001,3.925338,13.424189,613.366281,13.153164,0.666691
Male,242006.456336,39.032008,31.376477,15.867274,3.360053,12.616574,645.514509,15.491984,0.491269

cancelou
0.0    53.9%
1.0    46.1%
Name: proportion, dtype: object